
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Emotional Robot</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>

  <body class="container-fluid">
    <form name="clubform" method="post">

      <div class="row">
        <img class="centered" src="../img/background.png">
      </div>
      <div class="row">
        <div class="talkbubble centered">
          <div class="arrow bottom"></div>
          <textarea name="wantedText">What are you thinking....</textarea>
        </div>
      </div>
      <div class="row" style="height: 300px">
        <div class="submit-btn">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
        <img class="emoji" src="../img/favicon.ico">
      </div>
    </form>

    <% if(emotion !== null){ %>
      <div class="row">
        <div class="result-box centered border">
          <img class="emoji" src="../img/EMOCONS/<%= img_name %>.png">
          <div class="result-box">
            <h1><%= emotion %></h1>
          </div>
        </div>
      </div>
    <% } %>
  </body>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</html>
